<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Year</a>
                <a href="" class="dropdown-item">By Size</a>
                
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>



        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="England-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                England
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="England-link">
                <a href="{% url 'products' %}?category=Manchester United" class="dropdown-item">Manchester United</a>
                <a href="{% url 'products' %}?category=Arsenal" class="dropdown-item">Arsenal</a>
                <a href="{% url 'products' %}?category=Manchester City" class="dropdown-item">Manchester City</a>
                <a href="{% url 'products' %}?category=Liverpool" class="dropdown-item">Liverpool</a>
            </div>
        </li>





        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Portugal-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portugal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Portugal-link">
                <a href="{% url 'products' %}?category=Sporting Portugal" class="dropdown-item">Sporting Portugal</a>
                <a href="" class="dropdown-item">FC Porto</a>
                <a href="" class="dropdown-item">SL Benfica</a>
            </div>
        </li>


        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="Spain-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Spain
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Spain-link">
                <a href="" class="dropdown-item">Barcelona</a>
                <a href="" class="dropdown-item">Real Madrid</a>
                <a href="" class="dropdown-item">Atletico</a>
                <a href="" class="dropdown-item">Real Sociedad</a>
            </div>
        </li>
    </ul>
</div>