{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 style="font-size: 24px;">{% trans "Sign In" %}</h1>

    <p style="font-size: 16px;">{% blocktrans %}If you don't have an account yet, please <a href="{{ signup_url }}" style="color: #007bff; text-decoration: underline;">sign up</a> first.{% endblocktrans %}</p>

    <form class="login" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary" style="font-size: 18px;">{% trans "Sign In" %} &raquo;</button>
    </form>
</div>
{% endblock %}

